# Pandas Assignment â€“ Clean, Transform & Analyze Data by  Uday PR

Dataset Name: Online Retail Dataset  
Source: UCI Machine Learning Repository  
Link: https://archive.ics.uci.edu/ml/datasets/online+retail  

### What one row represents  

Each row represents a single product item purchased in a customer invoice.

### Explanation of Columns
- InvoiceNo: Unique invoice number
- StockCode: Product code
- Description: Product name
- Quantity: Number of items purchased
- InvoiceDate: Date and time of transaction
- UnitPrice: Price per unit

### Expected Data Issues
Missing values in CustomerID and Description  
Duplicate invoice records

In [2]:
import pandas as pd
import os
os.listdir()

[' NSE PROJECT.ipynb',
 ' NSe.ipynb',
 '.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.mamba',
 '.matplotlib',
 '.virtual_documents',
 '3_tracker.csv',
 '4_Retail_Data.csv',
 '5_HR_Analytics_Dataset.csv',
 'anaconda3',
 'anaconda_projects',
 'AppData',
 'Application Data',
 'Class 3.twbx',
 'Contacts',
 'Cookies',
 'Documents',
 'Downloads',
 'Favorites',
 'inventory_records.txt',
 'kpmg',
 'Links',
 'Local Settings',
 'Microsoft',
 'Music',
 'My Documents',
 'NetHood',
 'NSE',
 'NSE ASSIGNMENT 02.ipynb',
 'NSE.ipynb',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{29c01453-1c81-11f0-967c-aee26131a350}.TM.blf',
 'NTUSER.DAT{29c01453-1c81-11f0-967c-aee26131a350}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{29c01453-1c81-11f0-967c-aee26131a350}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Oracle',
 'PDFEditor',
 'PrintHood',
 'python file assessignment',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'sriram_assignment (1).ipynb',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled18.ipynb',
 'Untitled19.ipynb',
 'Untitled2.ipynb',
 'Untitled20.ipynb',
 'Untitled21.ipynb',
 'Untitled22.ipynb',
 'Untitled23.ipynb',
 'Untitled24.ipynb',
 'Untitled25.ipynb',
 'Untitled26.ipynb',
 'Untitled27.ipynb',
 'Untitled28.ipynb',
 'Untitled29.ipynb',
 'Untitled3.ipynb',
 'Untitled30.ipynb',
 'Untitled31.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos']

In [10]:
df = pd.read_csv(r"C:\Users\Uday pr\Downloads\Online Retail.csv", encoding="latin1")

In [11]:
df.shape

(541909, 8)

In [12]:
df.head

<bound method NDFrame.head of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

             InvoiceDate  UnitPrice  CustomerID         Country
0       01-12-2010 08:26       2.55     17850.0  United Kingdom
1       01-12-2010 08:26       3.39     17850.0  United Kingdom
2       01-12-2010 08:26       2.75     17850.0  United Kingdom
3       01-12-2010 08:26       3.39     17850.0  United Kingdom
4       01-12-2010 08:26       3.39     17850.0  United Kingdom
...                  ...        ...         ...             ...
541904  09-12-2011 12:50       0.85     12680.0          France
541905  09-12-2011 12:50       2.10     12680.0          France
541906  09-12-2011 12:50       4.15     12680.0          France
541907  09-12-2011 12:50       4.15     12680.0          France
541908  09-12-2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [14]:
df.isna().sum().sort_values(ascending=False)

CustomerID     135080
Description      1454
StockCode           0
InvoiceNo           0
Quantity            0
InvoiceDate         0
UnitPrice           0
Country             0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(5268)

In [16]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True)

In [17]:
df['UnitPrice'] = df['UnitPrice'].fillna(df['UnitPrice'].median())

In [18]:
df['Description'] = df['Description'].fillna(df['Description'].mode()[0])

In [19]:
df['Description'] = df['Description'].str.strip().str.title()

In [20]:
df = df.drop_duplicates()

In [21]:
df = df[df['Quantity'] > 0]

In [22]:
df['TotalRevenue'] = df['Quantity'] * df['UnitPrice']

In [23]:
df['InvoiceMonth'] = df['InvoiceDate'].dt.month

In [24]:
df['HighValue'] = df['TotalRevenue'] > 500

In [25]:
df.groupby('Country')['TotalRevenue'].sum().sort_values(ascending=False).head()

Country
United Kingdom    8979619.974
Netherlands        285446.340
EIRE               283140.520
Germany            228678.400
France             209625.370
Name: TotalRevenue, dtype: float64

In [26]:
df.sort_values(by='TotalRevenue', ascending=False).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalRevenue,InvoiceMonth,HighValue
540421,581483,23843,"Paper Craft , Little Birdie",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.60,12,True
61619,541431,23166,Medium Ceramic Top Storage Jar,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60,1,True
222680,556444,22502,Picnic Basket Wicker 60 Pieces,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,38970.00,6,True
15017,537632,AMAZONFEE,Amazon Fee,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom,13541.33,12,True
299982,A563185,B,Adjust Bad Debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom,11062.06,8,True

In [27]:
df['Description'].value_counts().head()

Description
White Hanging Heart T-Light Holder    2907
Jumbo Bag Red Retrospot               2112
Regency Cakestand 3 Tier              2009
Party Bunting                         1700
Lunch Bag Red Retrospot               1581
Name: count, dtype: int64

In [28]:
pd.pivot_table(
    df,
    values='TotalRevenue',
    index='InvoiceMonth',
    aggfunc='sum'
)

              TotalRevenue
InvoiceMonth
1               689811.610
2               522545.560
3               716215.260
4               536968.491
5               769296.610
6               760547.010
7               718076.121
8               735717.260
9              1056435.192
10             1151263.730
11             1503866.780
12             1459243.060

In [29]:
df[df['HighValue']].shape

(1155, 11)